<a href="https://colab.research.google.com/github/kwag-serin/DAP_/blob/main/lecture_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

# Input
arr_size = (5, 5)

# Solution
bool_arr = np.full((5, 5), False)

# Print
print(bool_arr)

[[False False False False False]
 [False False False False False]
 [False False False False False]
 [False False False False False]
 [False False False False False]]

In [ ]:
# Input
size = 7

# Solution
np_arr = np.eye(7, k=3)

# Print
print(np_arr)

[[0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

In [ ]:
# Input
arr = np.arange(35)

# Solution
arr = np.arange(0, 35, 2)

# Print
print(arr)

[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34]

In [ ]:
# Input
a = np.array([1, 7, 3, 2, 3, 5, 3, 4, 5, 8, 2, 6, 9])
b = np.array([1, 2, 10, 8, 3, 4, 9, 4, 9, 8, 5, 3, 5])

# Solution
idx = np.where(a == b)

# Print
print(idx)

(array([0, 4, 7, 9], dtype=int64),)

In [ ]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
med, std, avg = np.median(a), np.std(a), np.mean(a)

# Print
print(med, std, avg)

4.0 2.373422864698694 4.461538461538462

In [ ]:
# Input
np.random.seed(50)
a = np.random.randint(0, 10, 10)
print('Array: ', a)

# Solution
## Create an all True array
out = np.unique(a)

## Find the index positions of unique elements
unique_positions = ###########################

## Mark those positions as False
out[unique_positions] = ###########

print('Duplicate entrie: ', out)

SyntaxError: invalid syntax (Temp/ipykernel_20952/737647188.py, line 11)

In [ ]:
import pandas as pd

# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 
df = pd.DataFrame(ser1, ser2)

# Print
print(df.tail())

    0
21  v
22  w
23  x
24  y
25  z

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.head())

# Solution
print('\nIs there any missing value?:', df.isnull())

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                None      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

Is there any missing value?:     Manufacturer  Model   Type  Min.Price  Price  Max.Price  MPG.city  \
0          False  False  False      False  False      False     False
1           True  False  False      False  False      False     False
2          False  False  False      False  False      False     False
3          False  False  False       True  False      False     False
4          False  False  False       True  False       True     False
..           ...    ...    ...        ...    ...        ...       ...
88         False  False  False      False  False      False     False
89         False  False  False      False  False      False     False
90         False  False  False      False  False      False     False
91         False  False  False      False  False      False     False
92          True  False  False      False  False      False     False

    MPG.highway  AirBags  DriveTrain  ...  Passengers  Length  Wheelbase  \
0         False    False       False  ...       False   False      False
1         False    False       False  ...       False   False      False
2         False    False       False  ...       False   False      False
3         False    False        True  ...       False   False      False
4         False     True       False  ...       False   False      False
..          ...      ...         ...  ...         ...     ...        ...
88        False    False       False  ...       False   False      False
89        False    False       False  ...       False   False      False
90        False    False       False  ...       False   False      False
91        False    False       False  ...       False   False      False
92        False    False       False  ...       False   False      False

    Width  Turn.circle  Rear.seat.room  Luggage.room  Weight  Origin   Make
0   False        False           False          True   False   False  False
1   False        False           False         False   False   False  False
2   False        False           False         False   False   False  False
3    True        False           False         False   False   False  False
4   False        False           False         False   False   False  False
..    ...          ...             ...           ...     ...     ...    ...
88  False        False           False          True   False    True  False
89  False        False           False         False   False   False  False
90  False        False           False         False   False   False  False
91  False        False           False         False   False   False  False
92  False        False           False         False   False   False  False

[93 rows x 27 columns]

In [ ]:
# Solution
ser = pd.Series(pd.date_range(start='2022-09-01', end='2022-10-17', freq='W-MON' ))
print(ser)

0   2022-09-05
1   2022-09-12
2   2022-09-19
3   2022-09-26
4   2022-10-03
5   2022-10-10
6   2022-10-17
dtype: datetime64[ns]

In [ ]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange', 'blueberry', 'melon'] * 5,
                   'rating': np.random.rand(25),
                   'price': np.random.randint(0, 20, 25)})

# Solution
df.groupby("fruit")['price'].median()

fruit
apple        13.0
banana       12.0
blueberry    15.0
melon         7.0
orange       11.0
Name: price, dtype: float64

In [ ]:
# Input
base_path = 'https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/'
df1 = pd.read_csv(base_path + 'user_usage.csv')
df2 = pd.read_csv(base_path + 'user_device.csv')

# Solution
pd.merge(df1, df2, on='use_id')

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921,android,4.3,GT-I9505,1
1,1710.08,136.88,7267.55,22788,28714,android,6.0,SM-G930F,1
2,1710.08,136.88,7267.55,22789,28714,android,6.0,SM-G930F,1
3,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1
4,71.59,79.26,1557.33,22792,28217,android,5.1,SM-G361F,1
...,...,...,...,...,...,...,...,...,...
154,198.59,90.49,5191.12,23043,28953,android,6.0,SM-G900F,1
155,198.59,90.49,3114.67,23044,28953,android,6.0,SM-G900F,1
156,106.65,82.13,5191.12,23046,29454,android,6.0,Moto G (4),1
157,344.53,20.53,519.12,23049,29725,android,6.0,SM-G900F,1
158,42.75,46.83,5191.12,23053,20257,android,5.1,Vodafone Smart ultra 6,1